.modalBackground {
  width: 500px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0);
  position: static;
  bottom: 100px;
  left: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .modalContainer {
  width: 450px;
  height: 300px;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
}

.LogIn {
  color: white;
  background-color: lightslategray;
  height: 40px;
  width: 90px;
  position: relative;
  top: 150px;
  right: 300px;
  border-radius: 10px;
  cursor: pointer;
}

.Demo {
  color: white;
  background-color: blue;
  height: 40px;
  width: 90px;
  position: relative;
  top: 110px;
  right: 200px;
  border-radius: 10px;
  cursor: pointer;
}
.loginInputs {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.username, .email, .password, .ConPass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  text-align: left;
}
.input {
  width: 100%;
  display: block;
  height: 20px;
  margin-left: 4px;
}
