.footer-container {
    bottom: 0;
    color: white;
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0;
}
.fa-brands {
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin: 5px;
    padding: 0px 5px;
}
.iconLink {
    color: white;
    font-size: 13px;
    padding: 4px 0px;
    text-decoration: none;
}
.linkedIn {
    align-items: right;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}
.linkedInLinks {
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: right;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}
.about:hover .linkedInLinks {
    opacity: 1;
}
.github {
    align-items: center;
    display: flex;
}