#post-form {
   display: flex;
   flex-direction: column;
}
.modalContainer.editpost {
   height: fit-content;
}
textarea {
   border: 2px solid var(--accent);
   resize: none;
   font-family: inherit;
   width: 20rem;
   height: 5rem;
   outline: none;
}

.label-input-div {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
}