.profile-dropdown {
  background-color: white;
  border-radius: 6px;
  list-style: none;
  position: absolute;
  right: 10px;
  width: 150px;
  /* width:auto; */
  padding-inline: 10px;
  box-shadow: 0px 2px 6px .25px black;
}
.newProfile-dropdown {
  background-color: lightslategray;
  border-radius: 6px;
  list-style: none;
  position: absolute;
  right: 10px;
  /* width: 150px; */
  width:70px;
  /* padding-inline: 10px; */
}
.hidden {
  display: none;
}
.profileButton {
  background-color: lightslategray;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 2px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.signupButton {
  background-color: lightslategray;
  font-family: Helvetica;
  color: white;
}

.signupButton:hover {
  font-weight: bold;
}
.dropdown-link {
  color: lightslategray;
  margin: 2px;
}
.dropdown-link:hover {
  font-weight: bold;
}
.loginButton {
  cursor: pointer;
  background-color: lightslategray;
  font-family: Helvetica;
  color: white;
}

.loginButton:hover {
  font-weight: bold;
}


#site-home-link {
  color: white;
  text-decoration: none;
}

.logOut {
  color: white;
  position: relative;
  border-radius: 5px;
  height: 30px;
  background-color: lightslategray;
  left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.logOut:hover {
  background-color: gray;
}
.profile-dropdown a {
  color: lightslategray;
}
.commentsRoute {
  text-decoration: none;
}

.commentsRoute:hover {
  font-weight: bold;
}

.postsRoute {
  color: white;
  text-decoration: none;
}

.postsRoute:hover {
  font-weight: bold;
}
#site-logo {
  width: 150px;
}