.profile-dropdown {
  background-color: white;
  border-radius: 6px;
  list-style: none;
  position: absolute;
  right: 10px;
  width: 150px;
  /* width:auto; */
  cursor: default;
  padding: 10px;
  box-shadow: 0px 2px 6px .25px black;
  word-wrap: break-word;
}
.profile-dropdown li {
  padding: 1px;
}
.profile-link {
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #189AB4;
}
.profile-link:hover {
  text-decoration: underline;
}
.buttonDiv {
  display: flex;
  justify-content: center;
}
.newProfile-dropdown {
  background-color: lightslategray;
  border-radius: 6px;
  list-style: none;
  position: absolute;
  right: 10px;
  width:70px;
}
.hidden {
  display: none;
}
.profileButton {
  background-color: lightslategray;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 2px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.signupButton {
  background-color: lightslategray;
  font-family: Helvetica;
  color: white;
}

.signupButton:hover {
  font-weight: bold;
}
.dropdown-link {
  color: lightslategray;
  margin: 2px;
}
.dropdown-link:hover {
  font-weight: bold;
}
.loginButton {
  cursor: pointer;
  background-color: lightslategray;
  font-family: Helvetica;
  color: white;
}

.loginButton:hover {
  font-weight: bold;
}


#site-home-link {
  color: white;
  text-decoration: none;
}

.commentsRoute {
  text-decoration: none;
}

.commentsRoute:hover {
  font-weight: bold;
}

.post-link {
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: #189AB4;
}
.post-link:hover {
  text-decoration: underline;
}
#site-logo {
  width: 150px;
}