.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    margin: 10px;
    padding: 10px;
    width: 500px;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 6px black;
}

.comments-like-button {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
#username {
    font-weight: bold;
    font-size: 16px;
}
#username-follow-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#timestamp {
    font-size: 14px;
    color: dimgray;
}

.create-post-container {
    width: 500px;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.edit-and-delete-button {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-size: 20px;
}

.post-content {
    padding-top: 5px;
    word-break: break-word;
}

#follow-button {
    font-size: 14px;
    padding-left: 6px;
    color: var(--accent);
    cursor: pointer;
}
#follow-button:hover {
    text-decoration: underline;
}

#repost-button {
    font-size: 14px;
    padding-left: 6px;
    color: var(--accent);
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;

}

#repost-button:hover {
     text-decoration: underline;
}

.originalPoster {
    position: relative;
    font-size: 14px;
    color: dimgray;
    padding-bottom: 10px;
}

.reposted {
   font-weight: bold;
   font-size: 16px;
   color: rgb(45, 174, 255);

}
.repostImg {
    max-width: 500px;
    position: relative;

}
.following-toggle {
    color: lightgrey;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    text-align: center;
    margin: 5px;
}
.following-toggle.on {
    color: rgb(45, 174, 255);
    cursor: pointer;
    font-weight: bold;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid rgb(45, 174, 255);
}
#toggle-follows-container {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-evenly;
}
#new-post-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.edit-delete-div {
    padding-left: 10px;
}
.repost-edit-delete-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6px;
    margin-bottom: 6px;
}