body {
    background-color: lightslategray;
    font-family: Helvetica;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    margin: 10px;
    padding: 5px;
    width: 500px;
    border-radius: 6px;
    background-color: white;
}

.comments-like-button {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

