.modalBackground {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  bottom: 100px;
  height: 200px;
  justify-content: center;
  left: 400px;
  position: static;
  width: 500px;
}
.modalContainer {
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 25px;
  align-items: center;
  width: 450px;
}
.titleCloseButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.titleCloseButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  width: fit-content;
}

.title {
  font-size: 35px;
  font-weight: bold;
}

.errors{
  color: red;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.buttonDesign {
  background-color: rgb(45, 174, 255);
  border: none;
  border-radius: 16px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  margin: 5px 10px;
  width: 100px;
}
.buttonDesign:hover {
  background-color: rgba(45, 174, 255, 0.7);
}
.input {
  height: 20px;
  margin-left: 4px;
  width: 100%;
}
.email, .username, .password, .ConPass {
  display: grid;
  grid-template-columns: repeat(1, .5fr 1fr);

}
.modalContainer label {
  width: 100%;
}
