.modalBackground {
    width: 500px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  */
    position: static;
    bottom: 100px;
    left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.modalContainer2 {
    position: absolute;
    right: 450px;
    top: 30px;
    display: grid;
    grid-template-rows: 25px 40px 100px 35px 35px 35px 35px 35px ;
    width: 400px;
    height: 450px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0);
    gap: 10px;
    padding: 25px;
  }

  .modalContainer2 .titleCloseButton2 {
    /* display: flex;
    justify-content: flex-end; */
    grid-row: 1/2;

  }

  #titleCloseButton2 {
    margin-left: 350px;
  }


  .titleCloseButton2 button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }


  .modalContainer2 .title2 {
    grid-row: 2/3;
    text-align: center;
    margin-top: 5x;
    margin-bottom: 10px;
    font-size:40px;
    font-weight: bold;
    height: 60px;
  }

  .modalContainer2 .errors2 {
    grid-row: 3/4;
    color: red;
  }


/***************EMAIL NAME**************************/

.modalContainer2 .email {
    grid-row: 4/5;

  }


/***************USER NAME**************************/

.modalContainer2 .username {
    grid-row: 5/6;
    }


/*************** PASSWORD **************************/

.modalContainer2 .password {
  grid-row: 6/7;

}



/*************** CONFIRM PASSWORD **************************/

.modalContainer2 .ConPass {
  grid-row: 7/8;

}


/*************** BUTTONS **************************/
.modalContainer2 .button {
    grid-row: 8/9;
}

.buttonDesign {
    color: white;
    background-color: lightslategray;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 150px;

}




@media (max-width: 1100px) {
  .modalContainer2 {
    position: absolute;
    right: 450px;
    left: 200px;
    top: 30px;
    display: grid;
    grid-template-rows: 25px 40px 100px 35px 35px 35px 35px 35px;
    /* grid-template-columns: repeat(2, 1fr); */
    width: 400px;
    height: 450px;
    border-radius: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.158) 0px 5px 15px;
    gap: 10px;
    padding: 25px;
  }
}
