
.title {
  font-size: 35px;
  font-weight: bold;
}

.errors{
  color: red;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.input {
  height: 20px;
  margin-left: 4px;
  width: 100%;
}
.email, .username, .password, .ConPass {
  display: grid;
  grid-template-columns: repeat(1, .5fr 1fr);

}
.modalContainer label {
  width: 100%;
}
