#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  /* background-color:white; */
}
.modalBackground {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  bottom: 100px;
  height: 200px;
  justify-content: center;
  left: 400px;
  position: static;
  width: 500px;
}
.modalContainer {
  background-color: white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 25px;
  align-items: center;
  width: 450px;
}
.titleCloseButton {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.titleCloseButton button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  width: fit-content;
}

