.comment-toggle {
    border-radius: 16px;
    width: fit-content;
    margin: 4px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.comments-on {
    background-color: lightgrey;
    color: dimgray;
}

.comments-off {
    border: 1px solid lightgray;
    color: dimgray;
}

.commentButton button{
    border-radius: 16px;
    width: fit-content;
    margin: 4px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    color: dimgray;
    border: 1px solid lightgray;
}
.comment-text {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
    margin: 4px;
}
#comment-content {
    word-break: break-word;
   
}
.comment-username {
    font-weight: bold;
}

.comment-date {
    font-weight: normal;
    color: dimgray;
}
#comment-container {
    display: flex;
    flex-direction: row;
}
#comment-profile-link {
    font-size: 24px;
    padding: 5px;
    margin-top: 5px;
    color: darkgray;
}
/* .comments-and-comment-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

#comment-and-comment-button {
    display: flex;
    flex: 1;
}
#comment-form {
    display: flex;
    flex-direction: row;
}
#comment-textarea {
    display: flex;
    width: 300px;
    border: none;
    resize: none;
    background: 0 0;
    overflow: hidden;
    word-break: break-word;
    outline: none;
    font-family: inherit;
}
#comment-area-and-button {
    border: 1px solid grey;
    border-radius: 16px;
    padding: 4px;
}
#comment-button {
    box-sizing: border-box;
    font: inherit;
    border: none;
    background-color: white;
    color: rgb(45, 174, 255);
    cursor: pointer;
}
#comment-button:disabled {
    color: grey;
}