.fa-heart {
    font-size: 20px;
    padding-right: 10px;
    color: dimgray;
    cursor: pointer;
}

.fa-solid.fa-heart {
    color: #d95f41;
}

.num-likes {
    color: dimgray;
    padding-right: 4px;
}

.num-likes-like-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

#logged-out-button {
    background-color: none;
    border: none;
    color: red;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -70px;
    background-color: slategray;
    box-shadow: 2px 2px 8px black;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 14px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}