.deleteTitle {
    position: relative;
    left: 50px;
}


.yesButton {
  color: white;
  background-color: lightslategray;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  position: relative;
  left: 100px;
  cursor: pointer;
}

.yesButton:hover {
    font-weight: bold;
    background-color: rgb(130, 165, 201);
}

.noButton {
    color: white;
    background-color: lightslategray;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    position: relative;
    left: 150px;
    cursor: pointer;
}

.noButton:hover {
    font-weight: bold;
    background-color: rgb(130, 165, 201);
}
.delete-footer {
    display: flex;
    margin: auto;
}
#delete-title {
    position: relative;
    top: 50px;
}
.textarea-edit {
    font-family: inherit;
    width: 300px;
    height: 100px;
}
.create-post-form {
    margin: auto;
    text-align: left;
}
.footer > .buttonDesign {
    width: fit-content;
}