body {
    background-color: lightslategray;
    font-family: Helvetica;
}

.myComments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myComment {
    margin: 10px;
    padding: 5px;
    width: 500px;
    border-radius: 6px;
    background-color: white;
}
#comment-text {
    display: flex;
    justify-content: space-around;
}

#deleteButton {
    color: red;
}

#deleteButton:hover {
    background-color: pink;
}

#editButton {
    color: gray;
    position: relative;
    left: 20px;
    bottom: 18px;
}

#editButton:hover {
    background-color: rgb(186, 205, 224);
}
