.myComments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myComment {
    margin: 10px;
    padding: 5px;
    width: 500px;
    border-radius: 6px;
    background-color: white;
}
#comment-text {
    display: flex;
    justify-content: space-around;
    word-break: break-all;
}
#my-comment-text {
    word-break: break-all;
    padding: 5px 0px;
}

#deleteButton {
    color: red;
}

#deleteButton:hover {
    background-color: pink;
}

#editButton {
    color: gray;
    position: relative;
    left: 20px;
    bottom: 18px;
}

#editButton:hover {
    background-color: rgb(186, 205, 224);
}
.comment-timestamp {
    width: fit-content;
}
#my-comment-buttons {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.my-comment-buttons-timestamp {
    display: flex;
    justify-content: space-between;
}
#my-comment-post-link {
    padding-left: 6px;
}