body {
    background-color: lightslategray;
    font-family: Helvetica;
}

.myPosts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myPost {
    margin: 10px;
    padding: 5px;
    width: 500px;
    border-radius: 6px;
    background-color: white;
}

#delete-button {
    color: red;
}

#delete-button:hover{
    background-color: pink;
}

#edit-button {
    color: gray;
    position: relative;
    left: 20px;
    bottom: 18px;
}

#edit-button:hover {
    background-color: rgb(186, 205, 224);
}

.buttons-div {
    margin-top: 10px;
}
.my-posts-username-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}